header {
  max-width: 1300px;
  margin: 0 auto;
}

.header__video{
  background-color: rgb(32,36,41,0.8);
  width: 100%;
  height: 70vh;
  position: relative;
}
.header__video_hide{
  background-color: black;
}
video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.header__box {
  width: 100%;
  z-index: 99;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 15px 0px 15px 0px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
}
.header__inner_logo {
  font-size: 30px;
  font-weight: bold;
}
.header__login{
  background-color: white;
  padding: 6px;
  border-radius: 3px;
  font-weight: bold;
}
.header__inner_logo > a >h3 {
  color: orange;
}
/* .header__inner_user {
  width: 200px;
} */
.nav__user_mine {
  display: flex;
  justify-content: space-between;
  width: 100px;
  align-items: center;
}
.nav__basket,
.nav__favorite,
.nav__mypage {
  width: 40px;
  height: 40px;
  font-size: 0px;
  display: inline-block;
  background-repeat: no-repeat;
}
.nav__basket {
  background-image: url("/public/icons_users/cart.png");
}
.nav__favorite {
  background-image: url("/public/icons_users/favorite.png");
}
.nav__mypage {
  background-image: url("/public/icons_users/accaunt.png");
}
.header__menu {
  padding-top: 25px;
}

.header__menu_nav {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  justify-content: space-around;
}
.header__category {
  position: relative;
  color: white;
}


/* .header__category:hover {
  color: rgb(138, 138, 138);
} */
.header__category:after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: orange;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s ease all;
  z-index: 500;
  border-radius: 30px;
}

.header__category:hover:after {
  width: 100%;
}
.header__category_discount {
  color: red;
}

@media screen and (max-width: 600px) {
  .header__inner_logo h3 {
    font-size: 1.5rem;
  }
  .header__inner_user {
    width: 150px;
  }
  .header__menu_nav {
    padding: 0;
  }
  .header__menu_nav a {
    font-size: 0.9rem;
  }
  .hiden {
    display: none;
  }
  .nav__user_mine {
    flex-direction: row-reverse;
  }
}

/* -------------------------Category---------------- */

.category__drop_down_list {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.849);
  height: 300px;
  transition: 1s all ease;
}
.container {
  width: 1050px;
}
.category__sub {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container nav {
  display: flex;
}
.category__sub_second {
  margin-top: 15px;
  padding: 20px;
}
.category__sub_second li {
  padding-top: 15px;
}
.container nav > ul:not(:last-child) {
  border-right: 1px solid rgb(182, 182, 182);
}
.category__general {
  font-weight: bold;
  padding-top: 0;
}
.btn__basket_link{
  width: 40px;
  height: 40px;
}
.btn__basket {
  border: none;
  background: none;
  background-color: white;
}
/* ----------------useful information---------------------------- */

.container__usefulInformation{
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  bottom: -50px;
}
.container__usefulInformation img{
  width: 250px;
}
.usefulInformation__info_box{
  width: 550px;
  display: flex;
  background-color: white;
  padding: 25px;
  box-shadow: -10px 0px 13px -7px #000000, -50px -50px 0px -30px rgb(0 0 0 / 0%);
  border-radius: 5px;
  align-items: center;
}
.usefulInformation__title{
  text-align: center;
  
}