.container{
    width: 1300px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.wrapper__checkout_form{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 70px;
    align-items: flex-start;
}
@media screen and (max-width: 600px){
    .container{
        width: 100%;
    }
    .wrapper__checkout_form{
        flex-direction: column;
        padding: 0;
    }
    .wrapper__checkout_form form{
        width: 100%;
    }
}