.wrapper__profile_orders{
    width: 1300px;
    padding: 50px;
    margin: 0 auto;
}
@media screen and (max-width: 1350px){
    .wrapper__profile_orders{
        width: 100%;
        
    }
}
@media screen and (max-width: 768px){
    .wrapper__profile_orders{
        width: 100%;
        padding: 0px;
    }
    .wrapper__profile_orders h2{
        padding: 20px;
    }
}