.wrapper__radio_btn{
    width: 100%;
    padding: 10px;
}
.input__radio_wrapper>input,label{
    cursor: pointer;
}
.input__radio_label{
    padding-left: 10px;
  color: #444444;
}
@media screen and (max-width: 600px){
    .wrapper__radio_btn{
      padding-left: 30px;
    }
  }