.input__login {
  display: flex;
  flex-direction: column;
}
.input__phone {
  width: 60px;
  height: 25px;
  border: none;
  outline: none;
  transition: 0.5s all ease;
  font-size: 1.1rem;
  color: #444444;
  text-align: center;
}
.input__phone:focus {
  outline: none;
}

.input__login > label {
  font-size: 16px;
  color: #444444;
  font-weight: 700;
}
.input__login_error {
  color: red;
  padding-bottom: 10px;
}
.input__login_value {
  width: 90px;
  display: flex;
  align-items: center;
}
.input__number_btn {
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: none;
  transition: 0.5s all ease;
  background-color: none;
  color: #444444;
  font-size: 1.7rem;
  background: none;
}
