.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 150px;
}
.form__page_login {
  width: 800px;
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.from__number{
  display: flex;
}
.form__button{
  width: 100%;
}
.user__drop{
  position: relative;
}
.user__drop_menu{
  position: absolute;
  width: 150px;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 75px;
  justify-content: space-between;
  right: 0;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 2px 7px 8px -2px rgb(32 36 41);
  padding: 10px;
  z-index: 999;
}
.user__drop_menu a{
  transition: 0.5s all ease-in-out;
}
.user__drop_menu a:hover{
  color: rgb(138, 138, 138);
}
.user__drop_icon{
  background:none;
  border: none;
  cursor: pointer;
  background-color: white;
}