.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f7f8fa;
  margin-top: auto;

}
.container {
  width: 1300px;
  padding: 35px 0px 100px;
}

.footer__menu {
  font-weight: bold;
  font-size: 0.8rem;
  transition: 0.5s ease all;
}
.footer__menu:hover {
  color: rgb(138, 138, 138);
}
.footer__info > a{
  font-size: 1.1rem;
}
.footer__info >nav a{
  font-size: 1.2rem;
}
.footer__info{
  display: flex;
  justify-content: space-between;
}
.email__heading,.weekend__heading{
 padding-top: 10px;
}
.footer__info h3{
  padding-bottom: 10px;
}
.work__time span{
  color: #444444;
  font-size: 1.1rem;
}
.contacts a{
  font-size: 1.1rem;
}
@media screen and (max-width: 1325px){
  .container{
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 768px){
  .footer__info >nav a{
    font-size: 0.8rem;
  }
  .work__time{
    font-size: 0.7rem;
  }
  .contacts{
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 600px) {
  .footer__info nav ul {
    flex-direction: column;
  }
  .footer__info nav ul li {
    padding-top: 5px;
  }
  .footer{
    margin-top: 35px;
  }

}

