.cart__sidebar {
  width: 500px;
  padding: 10px;
  position: fixed;
  background-color: white;
  right: 0;
  height: 100vh;
  z-index: 9999;
  -webkit-box-shadow: -10px 0px 13px -7px #000000,
    -50px -50px 0px -30px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000,
    -50px -50px 0px -30px rgba(0, 0, 0, 0);
  transition: all 0.5s ease;
  transform: translateX(0%);
  top: 0px;
}
.cart__sidebar_show {
  transition: all 0.5s ease;
  transform: translateX(130%);
}
.cart__box_image {
  width: 200px;
}
.cart__sidebar_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart__sidebar_basket {
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.basket__items_empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.basket__items_empty > span {
  margin-top: 20px;
}
.cart__item {
  width: 100%;
  padding: 10px;
  border-bottom: solid #444444 1px;
}
.cart__item_info {
  display: flex;
  align-items: center;
}
.cart__item_image {
  border-radius: 10px;
  height: 110px;
}
.cart__info {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  width: 100%;
}
.cart__info span {
  padding-bottom: 10px;
  color: #444444;
  font-weight: 700;
}
.cart__sidebar_btn {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #444444;
}

.cart_sidebar_order {
  width: 100%;
  height: 35px;
  margin-top: 25px;
}
.cart__basket_items {
  overflow-y: auto;
  height: 550px;
  width: 100%;
}
.sidebar__btn_close {
  font-size: 2rem;
  color: #444444;
  background: none;
  width: 40px;
  border: none;
}
.cart__sidebar_title span {
  font-weight: bold;
  font-size: 24px;
  color: #444444;
}
.cart__btn_delete {

  font-size: 1.4rem;
  color: #444444;
  background: none;
  border: none;
  width: 50px;
}
.cart__item_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart__item input {
  border-color: #444444;
}

.checkout__price {
  width: 100%;
  font-weight: bold;
  padding-bottom: 50px;
  font-size: 20px;
  color: #444444;
}

@media screen and (max-width: 600px){
  .cart__sidebar{
    width: auto;
    padding: 0;
  }
  .cart__sidebar_title{
    padding: 10px;
  }
  .cart__sidebar_basket{
   margin: 0;
   margin-top: 80px;
  }
  .cart__sidebar_btn{
    padding: 0;
    position: absolute;
    top: 55px;
  }
  .cart__item{
    padding: 0;
  }
}