.container{
    max-width: 100%;
    margin: 0 auto;
    
}
.update__info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
}
.button__update_info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 35px;
}
.button__update_info >button{
    width: 200px;
}

@media screen and (max-width: 768px){
    .update__info{
        padding: 0;
        padding-top: 60px;
    }
    .button__update_info >button{
        width: 100%;
    }
}