

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px 0px 50px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-top: 50px;
  justify-content: center;
}
.products__title {
  width: 100%;
}
.products__title > h2 {
  font-size: 36px;
  position: relative;
}

.wrapper__product {
  width: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__card {
  padding-bottom: 35px;
}
.product__card img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
}
.product__card_description {
  width: 100%;
  padding: 10px;
}
.product__card_shortName {
  font-weight: normal;
  color: rgb(99, 99, 99);
  margin-bottom: 5px;
  font-size: 1.1rem;
}
.product__card_title {
  font-weight: 500;
  margin-bottom: 5px;
}
.product__card_price {
  font-weight: bold;
  font-size: 1.1rem;
  color: #444444;
}
.btn__catalog {
  display: inline-block;
  padding: 20px 34px;
  border-radius: 50px;
  color: rgb(99, 99, 99);
  font-weight: bold;
  border: solid 1px rgb(99, 99, 99);
  font-size: 14px;
  transition: 1s all ease;
  margin-top: 55px;
}
.btn__catalog:hover {
  color: black;
  border: solid 1px black;
}

.container__usefulInformation {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 15px 0;
  }
  .wrapper__product {
    width: 225px;
  }

  .product__card {
    display: inline-block;
    padding: 0;
    padding-top: 25px;
  }

  .product__card img {
    width: 150px;
  }
  .products {
    justify-content: space-evenly;
  }
  .btn__catalog {
    margin-top: 35px;
  }
}

/* ------------------------------Skeleton------------------ */

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
    border-radius: 15px;
  }
  100% {
    background-color: hsl(200, 20%, 95%);
    border-radius: 8px;
  }
}

.skeleton__img {
  width: 250px;
  height: 281px;
}
.skeleton__card_shortName {
  margin-top: 5px;
  height: 10px;
  width: 40%;
}
.skeleton__card_title {
  margin-top: 5px;
  height: 10px;
  width: 50%;
}
.skeleton__card_price {
  margin-top: 5px;
  height: 10px;
  width: 20%;
}
