.btn__form_in{
  cursor: pointer;
    border-radius: 3px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 800;
    border: solid 2px #444444;
    transition: 0.5s all ease;
    background-color: #444444;
    color: white;
    text-transform: uppercase;
}
.btn__form_in:hover{
  background-color:  #3f4246;
  border-color: #3f4246 ;
}