.tr__table_info{
    background-color: #444444;
    color: cornsilk;
}
.tr__table_info :last-child,.tr__table_info:first-child{
    width: 120px;
}
table{
    margin-top: 25px;
}
thead tr th{
    padding-bottom:  15px;
}
td{
    text-align: center;
    padding: 15px;
}

@media screen and (max-width: 768px){
    .td__table{
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
    }
    table thead{
        display: none;
    }

}