.container{
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 50px;
}
.update__info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
}
.button__update_info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 35px;
}
.button__update_info >button{
    width: 200px;
}