header {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  z-index: 999;
}

.header__wrapper {
  width: 100%;
  position: relative;
}
.header__wrapper_hide {
  background-color: white;
}
.header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 0px 40px 0px;
}
.header__inner_logo {
  font-size: 30px;
  font-weight: bold;
}
.header__login {
  padding: 6px;
  border-radius: 3px;
}
.header__login {
  color: white;
}
.header__login a {
  display: flex;
  font-size: 30px;
  transition: 1s all;
}
.header__login a svg {
  transition: 1s all ease;
}
.header__inner_logo > a > h3 {
  color: orange;
  font-family: "Bad Script", cursive;
  transition: 1s all;
  font-size: 4rem;
  color: #444444;
  letter-spacing: 0.5rem;
  /* background: rgb(255, 255, 255, 0.7); */
}
/* .header__inner_user {
  width: 200px;
} */
.nav__user_mine {
  display: flex;
  justify-content: space-between;
  width: 100px;
  align-items: center;
}

.nav__basket,
.nav__favorite,
.nav__mypage {
  width: 40px;
  height: 40px;
  font-size: 0px;
  display: inline-block;
  background-repeat: no-repeat;
}
.nav__basket {
  background-image: url("/public/icons_users/cart.png");
}
.nav__mypage {
  background-image: url("/public/icons_users/accaunt.png");
}
.header__menu {
  display: flex;
  justify-content: center;
}
.header__menu nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header__menu_nav {
  width: 1300px;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  justify-content: space-around;
  align-items: center;
}
.header__category {
  position: relative;
  color: white;
  font-size: 1.1rem;
  transition: 1s all;
}
.header__category_color {
  color: #444444;
}
.header__category:after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s ease all;
  z-index: 500;
  border-radius: 30px;
}

.mainHeader_wrapper {
  width: 100%;
  overflow: hidden;
  height: 350px;
  background-color: #444444;
}

.header__category.header__category_color:after {
  background-color: #444444;
}

.header__category:hover:after {
  width: 100%;
}
.header__category_discount {
  color: red;
}

/* -------------------------Category---------------- */

.category__drop_down_list {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.849);
  height: 300px;
  transition: 1s all ease;
}
.container {
  width: 1050px;
}
.category__sub {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container nav {
  display: flex;
}
.category__sub_second {
  margin-top: 15px;
  padding: 20px;
}
.category__sub_second li {
  padding-top: 15px;
}
.container nav > ul:not(:last-child) {
  border-right: 1px solid rgb(182, 182, 182);
}
.category__general {
  font-weight: bold;
  padding-top: 0;
}
.btn__basket_link {
  width: 40px;
  height: 40px;
}
.btn__basket {
  border: none;
  background: none;
  font-size: 30px;
  transition: 1s all ease;
}
.btn__basket svg {
  transition: all 1s;
}

/* ----------------useful information---------------------------- */

.container__usefulInformation {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.info__box {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.container__info_title {
  position: absolute;
  left: -70px;
  transform: rotate(-90deg);
  letter-spacing: 3px;
  margin-top: 170px;
}
.container__usefulInformation img {
  width: 175px;
  object-fit: cover;
  height: 220px;
}
.usefulInformation__info_box {
  display: flex;
  margin-top: 15px;
}
.usefulInformation__title {
  bottom: 20px;
  width: 250px;
  padding: 10px;
}
.usefulInformation__title h2 {
  font-size: 1.3rem;
  padding: 10px;
}
.user__menu {
  display: flex;
  width: 180px;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  margin-right: 15px;
  margin-left: auto;
  margin-top: 15px;
}

.mobile__menu_btn {
  display: none;
}

@media screen and (max-width: 1524px) {
  .container__usefulInformation img {
    width: 400px;
  }
}
@media screen and (max-width: 1224px) {
  .container__usefulInformation img {
    width: 500px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header__menu_nav {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .mainHeader_wrapper {
    border-bottom-left-radius: 75%;
    border-bottom-right-radius: 0%;
  }
  .user__menu {
    margin: 0;
    position: absolute;
    right: 0;
    top: 15px;
  }
  .header__menu nav {
    width: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 15px;
    right: 0px;
  }

  .header__menu_nav {
    display: none;
  }
  .wrapperMenuBtn {
    padding: 15px;
  }
  .mobile__menu_btn {
    display: block;
    font-size: 35px;
    transition: 1s all;
  }
  .header__inner_logo > a > h3 {
    font-family: "Bad Script", cursive;
    font-size: 1.8rem;
    letter-spacing: 0.8rem;
    background: none;
    color: white;
    transition: 1s all;
  }

  .header__inner_user {
    width: 150px;
  }
  .header__menu_nav {
    padding: 0;
  }
  .header__menu_nav a {
    font-size: 0.9rem;
  }
  .hiden {
    display: none;
  }
  .nav__user_mine {
    flex-direction: row-reverse;
  }
  .container__usefulInformation {
    width: 100%;
  }
  .container__usefulInformation img {
    width: 100%;
  }
  .usefulInformation__info_box {
    width: 100%;
  }
  .fixedUserMenu {
    position: fixed;
    right: 0px;
  }

  .fixedMenuBtn {
    position: fixed;
    transition: all 0.3s ease;
    background-color: #444444de;
    width: 100%;
    z-index: 90;
  }
}
